*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.vcss-main{
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.vcss-header{
    width: 100%;
}
.vcss-footer{
    width: 100%;
}
.vcss-container{
    height: auto;
    margin: 5% auto;
}
.vcss-nav{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #DE781F;
}
.nav-div2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vcss-nav a{
    color: #fff;
}
.vcss-foot{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #DE781F;
}
.vcss-login, .vcss-register{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto 5% auto;
}
.vcss-log-wrapper{
    height: 350px;
}
.vcss-reg-wrapper{
    height: 500px;
}
.vcss-log-wrapper, .vcss-reg-wrapper{
    width: 40%;
    padding: 10px;
}
.vcss-log-wrapper h1{
    text-transform: uppercase;
}
.vcss-log-wrapper form, .vcss-register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bot-note{
    display: flex;
    justify-content: center;
}
.vcss-table-scroll{
    overflow-x: hidden;
    height: 300px;
}
.vcss-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F85DE;
}
.vcss-left-menu{
    width: 20%;
    display: flex;
}
.vcss-left-menu a{
    margin: 0 auto;
}
.vcss-logo{
    width: 50px;
    height: 50px;
}
.vcss-icon{
    width: 20px;
    height: 20px;
}
.vcss-log-btn, .vcss-reg-btn{
    color: #fff;
    background-color: #1F85DE;
}
.vcss-th1{
    width: 60%;
}
.vcss-th2{
    width: 10%;
    text-align: center;
}
.vcss-th3{
    width: 30%;
    text-align: center;
}
.vcss-td1{
    width: 60%;
}
.vcss-td2{
    width:14%;
    text-align: center;
}
.vcss-td3{
    width: 26%;
    text-align: center;
}
/* ----------------------Edit---------------------- */
.edit-form{
    display: flex;
    justify-content: center;
}
.vcss-edit{
    width: 50%;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1F85DE;
}
.vcss-edit-title{
    display: flex;
    justify-content: center;
    color: #fff;
}
.vcss-edit-btn{
    margin: 10px 0;
    float: right;
}
@media only screen and (max-width:760px){
    .vcss-login{
        align-items: center;
    }
    .vcss-login, .vcss-register{
        height: auto;
    }
    .vcss-log-wrapper, .vcss-reg-wrapper{
        width: 100%;
    }
    .vcss-left-menu{
        width: 40%;
    }
    .vcss-th2{
        width: 15%;
    }
    .vcss-th3{
        width: 25%;
    }
    .vcss-td1{
        width: 55%;
    }
    .vcss-td2{
        width: 30;
        text-align: center;
    }
    .vcss-td3{
        width: 25;
        text-align: center;
    }
    .vcss-edit{
        width: 100%;
    }
}

/* error message */
.vcss-err-msg{
    margin: auto;
}